* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #1e293b;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: #e2e8f0;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #1d4ed8;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}


/* About Page */
.about {
    padding: 70px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.about h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #334155;
}



/* Services Page */
.services {
    text-align: center;
    padding: 70px 20px 40px;
}

.services h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.services p {
    font-size: 18px;
    color: #475569;
}



/* Contact Page */
.contact {
    padding: 70px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 18px;
    color: #475569;
    margin-bottom: 30px;
}

/* Form */
.contact-form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2563eb;
}

/* Button */
.contact-form button {
    padding: 12px;
    font-size: 16px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #1d4ed8;
}
